
<log4net>

  <appender name="DesktopNotifier" type="log4net.Appender.RollingFileAppender">
    <file value="Debug.log"/>
    <maximumFileSize value="5MB"/>
    <appendToFile value="false"/>
    <maxSizeRollBackups value="5"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level - %message%newline%exception"/>
    </layout>
  </appender>

  <root>
    <level value="Info"/>
    <appender-ref ref="DesktopNotifier"/>
  </root>

</log4net>

<!-- vim: ft=xml # -->